{% extends 'templates/home/home.html' %}<body>{% block contenido %}
<br>
<h1></h1>

    <div class="Contenedor">
        <div class="uno">
            <h1>Informacion General</h1>
            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolorem molestiae placeat at laudantium consequuntur quia optio itaque eos asperiores deserunt, saepe laborum tenetur nisi aut. Eveniet ea nemo quia.</p>
        </div>
        <div class="dos">
            <h1>Reglas</h1>
            <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur impedit aperiam assumenda mollitia accusamus officia provident modi dicta ex cum! Voluptatum quasi reiciendis accusamus, alias labore quisquam eveniet qui aspernatur.</p>
        </div>
        <div class="tres">
            <h1>Maximos Goleadores de la UEFA Champions League</h1>
            <br>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Equipo</th>
                    <th>Goles</th>
                </tr>
                <tr>
                    <td>Cristiano Ronaldo</td>
                    <td>Manchester United</td>
                    <td>140</td>
                </tr>
                <tr>
                    <td>Lionel Messi</td>
                    <td>Paris Saint-Germain</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>Robert Lewandowski</td>
                    <td>Bayern Mùnich</td>
                    <td>82</td>
                </tr>
                <tr>
                    <td>Karim Benzema</td>
                    <td>Real Madrid</td>
                    <td>76</td>
                </tr>
            </table>
        </div>
        <div class="cuatro">
            <h1>Trofeo</h1>
            <br>
            <img src="https://www.ustedpregunta.com/data/articulos/que-equipos-tienen-en-propiedad-la-copa-de-la-champions-league/5db6b996d987d.jpg" class="trofeo">
        </div>
    </div>
{% endblock contenido %}
</body>
